<app-genitore></app-genitore>


<app-content-projection>
  <h1 #proiettato>Titolo proiettato</h1>
</app-content-projection>


<app-content-projection-multi>
  <div slot="primo">
    <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
  </div>
  <div slot="secondo">
    <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
    <button (click)="verifica()">Clicca per verificare se funziona</button>
  </div>
</app-content-projection-multi>

<!--Da qui sotto testiamo ViewChild-->


<p #paragrafo>Contenuto selezionato</p>

